---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import { groupBy } from "../utils/group-by";
import { formatDate } from "../utils/format-date";

const raw = await getCollection("blog");
const sorted = raw.sort((a, b) => {
	const x = new Date(a.data.date);
	const y = new Date(b.data.date);
	return y.valueOf() - x.valueOf();
});

const groupedByYear = groupBy(sorted, (post): number => {
	const published = new Date(post.data.date);
	return published.getFullYear();
});
---

<PageLayout>
	<div class="space-y-16">
		{
			Object.entries(groupedByYear)
				.reverse()
				.map(([year, posts]) => {
					return (
						<>
							<section>
								<h3 class="text-sm font-bold text-gray-500 pb-4">{year}</h3>

								<ul class="ml-4 space-y-4">
									{posts.map((post) => (
										<li>
											<a
												class="block text-gray-500 transition hover:text-gray-700"
												href={`/${post.slug}`}>
												<h2 class="text-sm text-gray-800">{post.data.title}</h2>
												<time class="semibold text-sm text-gray-500" datetime={post.data.date.toISOString()}>
													{formatDate(post.data.date)}
												</time>
											</a>
										</li>
									))}
								</ul>
							</section>
						</>
					);
				})
		}
	</div>
</PageLayout>
