---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import { formatDate } from "../utils/format-date";

const activeTag = Astro.url.searchParams.get("tag");
const allTags = ["tooling", "product"];

const allPosts = (await getCollection("blog")).sort((a, b) => {
	return new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf();
});

const posts = activeTag
	? allPosts.filter((p) => p.data.topics?.includes(activeTag))
	: allPosts;
---

<PageLayout>
  <div class="mb-8 flex items-center gap-3 bg-[red] fixed left-0 top-[50%]">
		<a
			href="/"
			class:list={[
				"text-xs px-3 py-1 rounded-full border transition",
				!activeTag
					? "border-heading text-heading"
					: "border-border text-subtle hover:text-foreground",
			]}>
			all
		</a>
		{
			allTags.map((tag) => (
				<a
					href={`/?tag=${tag}`}
					class:list={[
						"text-xs px-3 py-1 rounded-full border transition",
						activeTag === tag
							? "border-heading text-heading"
							: "border-border text-subtle hover:text-foreground",
					]}>
					{tag}
				</a>
			))
		}
	</div>

	<ul class="space-y-3">
		{
			posts.map((post) => (
				<li>
					<a
						class="block text-muted transition hover:text-foreground"
						href={`/${post.slug}`}>
						<span class="text-sm text-foreground">{post.data.title}</span>
						<time
							class="block text-xs text-subtle"
							datetime={post.data.date.toISOString()}>
							{formatDate(post.data.date)}
						</time>
					</a>
				</li>
			))
		}
	</ul>
</PageLayout>
