---
import { getCollection } from "astro:content";
import FormattedDate from "../components/Date.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { groupBy } from "../utils/group-by";

const raw = await getCollection("blog");
const sorted = raw.sort((a, b) => {
	const x = new Date(a.data.date);
	const y = new Date(b.data.date);
	return y.valueOf() - x.valueOf();
});

const groupedByYear = groupBy(sorted, (post): number => {
	const published = new Date(post.data.date);
	return published.getFullYear();
});
---

<PageLayout>
	{
		Object.entries(groupedByYear)
			.reverse()
			.map(([year, posts]) => {
				return (
					<section>
						<h3>{year}</h3>
						<ul>
							{posts.map((post, index) => (
								<li style={`--index: ${index};`}>
									<h2>
										<a href={`/${post.slug}`}>
											{post.data.title}
										</a>
									</h2>
									<FormattedDate date={post.data.date} />
								</li>
							))}
						</ul>
					</section>
				);
			})
	}
</PageLayout>

<style>
	section {
		display: flex;
		flex-flow: column;
		margin-bottom: 2rem;

		> h3 {
			color: var(--text-muted);
			font-weight: bold;
			font-size: 1rem;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			margin: 1rem;
			padding: 0;
			padding-left: 1rem;
			list-style: none;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 0;
				background: var(--border-muted);
				transition-property: height;
				transition-duration: 220ms;
				transition-timing-function: ease-out;
			}
			&:hover {
				&:after {
					height: 100%;
				}
			}

			li {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 4px;
				padding: 0.5rem 1rem;

				a {
					text-decoration: none;
				}
			}
		}
	}
</style>
