---
import PageLayout from "../layouts/PageLayout.astro";

type Experience = {
	title: string;
	organization: string;
	description?: string;
	startDate: Date;
	endDate?: Date;
};

const experiences: Experience[] = [
	{
		title: "Senior Software Engineer",
		organization: "Google",
		description: "I work on the Google Search team.",
		startDate: new Date("2021-01-01"),
	},
	{
		title: "Senior Software Engineer",
		organization: "Facebook",
		description: "I worked on the Facebook Search team.",
		startDate: new Date("2019-01-01"),
		endDate: new Date("2020-12-31"),
	},
	{
		title: "Software Engineer",
		organization: "Microsoft",
		description: "I worked on the Microsoft Search team.",
		startDate: new Date("2017-01-01"),
		endDate: new Date("2018-12-31"),
	},
];
---

<PageLayout>
	<h1>Resume</h1>
	{
		experiences.map((experience) => (
			<div>
				<h2>{experience.title}</h2>
				<h3>@ {experience.organization}</h3>
				<p>{experience.description}</p>
				<p>
					{experience.startDate} - {experience.endDate}
				</p>
			</div>
		))
	}
</PageLayout>
