---
import type { CollectionEntry } from "astro:content";
import Date from "../components/Date.astro";
import PageLayout from "./PageLayout.astro";

type Props = CollectionEntry<"blog">["data"] & { id: string };

const { id, title, date } = Astro.props;
const slug = id.split("/")[0];
const image = `/${slug}/cover.png`;
---

<PageLayout title={title} image={image}>
	<article>
		<header>
			<a
				class="edit-link"
				href={`https://github.com/AntonNiklasson/antn.se/edit/main/src/content/blog/${slug}/index.mdx`}
				>Edit note</a
			>

			<hgroup>
				<h1
					transition:animate="fade"
					transition:name={`post_title_${id}`}
				>
					{title}
				</h1>
				<Date date={date} />
			</hgroup>
		</header>

		<div class="prose">
			<slot />
		</div>

		<footer>
			<div class="socials">
				Socials:

				<nav>
					<a href="https://x.com/antonniklasson" target="_blank"
						>x/twitter</a
					>
					<a href="https://github.com/antonniklasson" target="_blank"
						>github</a
					>
					<a
						href="https://www.linkedin.com/in/antonniklasson"
						target="_blank">linkedin</a
					>
				</nav>
			</div>

			<div class="edit">
				<a
					class="edit-link"
					href={`https://github.com/AntonNiklasson/antn.se/edit/main/src/content/blog/${slug}/index.mdx`}
					>Edit note</a
				>
			</div>
		</footer>
	</article>
</PageLayout>

<style>
	article {
		padding: 2rem 0;
	}

	header {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-bottom: 3rem;

		hgroup {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		.edit-link {
			align-self: flex-end;
		}
	}

	footer {
		display: flex;
		justify-content: space-between;
		margin-top: 4rem;
		padding-top: 1rem;
		border-top: 1px solid var(--border-muted);
		font-size: 0.875rem;
		color: var(--text-muted);

		.socials {
			display: flex;
			gap: 8px;

			nav {
				list-style: none;
			}
		}
	}

	.edit-link {
		font-size: 0.875rem;
	}
</style>
