---
import type { CollectionEntry } from "astro:content";
import Date from "../components/Date.astro";
import PageLayout from "./PageLayout.astro";

type Props = CollectionEntry<"blog">["data"] & { id: string };

const { id, title, date, lastUpdate } = Astro.props;
const slug = id.split("/")[0];
const image = `/${slug}/cover.png`;
---

<PageLayout title={title} image={image}>
	<article class="relative space-y-8">
		<header class="space-y-4">
			<h1 class="text-2xl">
				{title}
			</h1>

			<div class="flex justify-between">
				<div class="flex flex-row space-x-8">
					<div class="flex flex-col">
						<span class="text-sm font-bold text-gray-400"> published</span>
						<Date date={date} />
					</div>

					{
						lastUpdate && (
							<div class="flex flex-col">
								<span class="text-sm font-bold text-gray-400">last updated</span>
								<Date date={lastUpdate} />
							</div>
						)
					}
				</div>

				<a
					class="text-blue"
					href={`https://github.com/AntonNiklasson/antn.se/edit/main/src/content/blog/${slug}/index.mdx`}
					>Edit note</a
				>
			</div>
		</header>

		<div class="prose">
			<slot />
		</div>
	</article>
</PageLayout>
