---
import type { CollectionEntry } from "astro:content";
import Date from "../components/Date.astro";
import PageLayout from "./PageLayout.astro";

type Props = CollectionEntry<"blog">["data"] & { id: string };

const { id, title, date, lastUpdate } = Astro.props;
const slug = id.split("/")[0];
const image = `/${slug}/cover.png`;
---

<PageLayout title={title} image={image}>
	<article class="relative space-y-8">
		<header class="space-y-4">
			<h1 class="text-2xl">
				{title}
			</h1>

			<div class="flex justify-between">
				<div class="flex flex-col space-y-1">
					<div class="flex flex-row space-x-1">
						<Date date={date} showYear />
					</div>

					{
						lastUpdate && (
							<div class="flex flex-row space-x-1">
								<span class="text-sm text-gray-400">updated:</span>
								<Date date={lastUpdate} showYear />
							</div>
						)
					}
				</div>
			</div>
		</header>

		<div class="lg:prose-md prose prose-sm prose-headings:font-normal">
			<slot />
		</div>
	</article>

	<footer class="mt-24 flex justify-between border-t pt-4 text-sm font-bold text-gray-600">
		<a href="/notes">Browse all notes</a>
		<a
			href={`https://github.com/AntonNiklasson/antn.se/tree/main/src/content/blog/${slug}/index.mdx`}
			>Edit this note</a
		>
	</footer>
</PageLayout>
