---
import type { CollectionEntry } from "astro:content";
import PageLayout from "./PageLayout.astro";
import { formatDate } from "../utils/format-date";

type Props = CollectionEntry<"blog">["data"] & {
	id: string;
	related?: CollectionEntry<"blog">[];
};

const { id, title, date, lastUpdate, topics, related } = Astro.props;
const slug = id.replace(/\.md$/, "");
const image = `/${slug}/cover.png`;
---

<PageLayout title={title} image={image}>
	<article class="relative space-y-8">
		<header class="flex flex-col items-center gap-y-2 text-center">
			<h1 class="text-2xl">
				{title}
			</h1>

			<div class="flex flex-col items-center gap-y-1">
				<time class="semibold text-sm text-muted" datetime={date.toISOString()}>
					{formatDate(date)}
				</time>
				{
					lastUpdate && (
						<p class="text-xs text-muted">
							<span>updated</span>{" "}
							<time datetime={lastUpdate.toISOString()}>{formatDate(lastUpdate)}</time>
						</p>
					)
				}
			</div>

			{
				topics && topics.length > 0 && (
					<div class="flex justify-center gap-x-1">
						{topics.map((t) => (
							<a
								href={`/?tag=${t}`}
								class="text-xs text-blue-600 transition hover:text-foreground">
								#{t}
							</a>
						))}
					</div>
				)
			}
		</header>

		<div class="lg:prose-md prose prose-sm prose-headings:font-normal dark:prose-invert mx-auto">
			<slot />
		</div>
	</article>

	{
		related && related.length > 0 && (
			<nav class="mt-20 border-t border-border pt-8">
				<h2 class="text-sm text-muted mb-4">Similar notes:</h2>
				<ul class="list-disc ml-8">
					{related.map((post) => (
						<li>
							<a
								class="text-sm text-foreground transition hover:text-heading"
								href={`/${post.slug}`}>
								{post.data.title}
							</a>
						</li>
					))}
				</ul>
			</nav>
		)
	}
</PageLayout>
